<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.loyolalawtech.juju"
        versionCode = "1"
        version     = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>JuJu</name>

    <description>A tool to help lawyers argue for less restrictive and expensive sentences in juvenile cases</description>

    <author href="http://loyolalawtech.org" email="judson@loyolalawtech.org">
        Judson Mitchell, Monika Arceneaux, Justin Cantu, Hank Pailet
    </author>

    <icon src="icon.png" />

    <preference name="permissions" value="none" />
    <preference name="android-targetSdkVersion" value="14" />
    <icon src="res/icon/android/drawable-ldpi/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icon/android/drawable-hdpi/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icon/android/drawable-mdpi/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icon/android/drawable-xdpi/xhdpi.png" gap:platform="android" gap:qualifier="xdpi" />
    <icon src="res/icon/android/drawable-xxhdpi/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <!-- iPhone / iPod Touch  7-->
    <icon src="res/icon/ios7/Icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/icon/ios7/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="res/icon/ios7/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/icon/ios7/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="res/icon/ios7/Icon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/icon/ios7/Icon-Small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="res/icon/ios7/Icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/icon/ios7/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!-- iOS 6.1 -->
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/Icon@2x.png" gap:platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="res/icon/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />

    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/Icon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/icon/Icon-Small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="res/icon/Icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />
</widget>
